#footer-container {
	background: map-get($foundation-palette, secondary);
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid $white;
  
  img {
	  width: rem-calc(160);
  }

  #footer {
    @include grid-row();
    color: $white;
    
    padding: rem-calc(32) 0;
    
    h6 {
	    font-weight: 600;
    }

    ul {
	    line-height: 1.4;
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      a {
	      color: #ccc;
	      font-size: rem-calc(14);
      }
    }
    
    .f-privacy {
	    font-size: rem-calc(14);
	    font-weight: 600;
	    
	    margin-top: 2rem;
	    
	    display: flex;
	    justify-content: space-between;
	    
	    a {
		    color: $medium-gray;
		    padding-left: rem-calc(8);
	    }
    }
  }
}
